<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="voto-exitoso">
    <h1 class="voto-exitoso-titulo">Voto Exitoso</h1>
    <img src="assets/images/votoexitoso.png" alt="Imagen de agradecimiento" class="imagen-agradecimiento">
    <h2 class="voto-exitoso-mensaje">¡Gracias! Tu voto ha sido registrado con éxito.</h2>
  </div>

  <ion-card class="hash-card">
    <ion-card-header>
      <ion-card-title class="hash-titulo">Hash del Voto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="hash-content">
        <p>{{ hashVoto }}</p>
        <ion-icon name="copy-outline" (click)="copiarHash()"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>

  <p class="verificacion-instrucciones">
    Puedes verificar tu voto utilizando el hash proporcionado en el apartado de Verificación de Voto.
  </p>
</ion-content>
